@model IEnumerable<AIBTicketsMVC.Models.Categories>
<table id="TableGeneral" class="table table-sm table-bordered table-hover" style="width:100%;">
    <thead>
        <tr>
            <th></th>
            <th>Nombre Categoria</th>
            <th>Grupo asigando</th>
            <th>Plantilla</th>
            <th>Descripcion</th>
            <th>Sitio</th>
            <th>Fecha Creacion</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string inactivo = "", disabled="";
            if (item.State == false)
            {
                inactivo = "table-danger";
                disabled = "disabled";
            }
        <tr class="@inactivo">
            <td>
                <div class="btn-group" role="group">
                    <button onclick="SearchInforCategory(@item.IdCategory);" class="btn btn-sm btn-info BtnEdit">
                        <i class="fas fa-edit fa-sm"></i>
                        Editar
                    </button>
                    <button onclick="DeleteCategory(@item.IdCategory);" class="btn btn-sm btn-danger BtnDelete" @disabled>
                        <i class="fas fa-trash-alt fa-sm"></i>
                        Desactivar
                    </button>
                </div>
            </td>
            <td>@item.NameCategory</td>
            <td>@item.Grupo.NameGroup</td>
            <td>@item.Template.NameTemplate</td>
            <td class="text-truncate" style="max-width: 400px;">
                @item.DescriptionCategory
            </td>
            <td>@item.Sitio.NameSite</td>
            <td>@item.DateLog</td>
            <td>
                @if (item.State == true)
                {
                    <span class="badge badge-success text-wrap" style="font-size: 100%;">Activo</span>
                }
                else
                {
                    <span class="badge badge-danger text-wrap" style="font-size: 100%;">Inactivo</span>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

