@model IEnumerable<AIBTicketsMVC.Models.WorkOrder>
<table id="TableGeneral" class="table table-sm table-bordered table-hover" style="width:100%;">
    <thead>
        <tr>
            @*<th></th>*@
            <th>Id</th>
            <th>Titulo</th>
            <th>Estado</th>
            <th>PQR</th>
            <th>Usuario Crea</th>
            <th>Usuario Asignado</th>
            <th>Grupo Asignado</th>
            <th>Fecha de creacion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/WorkOrderSolutions?IdWorkOrder=@item.IdWorkOrder" target="_blank">
                        <strong class="@item.Semaphore">@item.IdWorkOrder</strong>
                    </a>
                </td>
                <td class="text-truncate" style="max-width: 300px;">
                    <a href="/WorkOrderSolutions?IdWorkOrder=@item.IdWorkOrder" target="_blank">
                        <strong class="@item.Semaphore">@item.Title</strong>
                    </a>
                </td>
                <td>@item.Status.NameStatus</td>
                <td>@item.PQR</td>
                <td>@item.UsersCreate.FullName</td>
                <td>@item.UsersAssigned.FullName</td>
                <td>@item.GrupoAsignado.NameGroup</td>
                <td>@item.DateLog</td>
            </tr>
        }
    </tbody>
</table>


