@model IEnumerable<AIBTicketsMVC.Models.ColocacionPrestamo>
@{ ViewData["Title"] = "Scare - Colocacion de prestamos";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@section Styles {
    <link href="~/wwwroot/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/wwwroot/vendor/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/wwwroot/vendor/chosen/component-chosen.min.css" rel="stylesheet" />
    <link href="~/wwwroot/vendor/toastr/toastr.min.css" rel="stylesheet" />
    <!-- se agrega de formateo de datatable-->
    <link href="~/wwwroot/vendor/jquery/jquery.dataTables.min.css" rel="stylesheet" />
    <style type="text/css">
        th, td {
            white-space: nowrap;
        }

        .encabezados {
            background-color: #4E73DF;
            color: white;
        }

        h6 {
            background-color: #4E73DF;
            color: white;
            padding: 1px;
            text-align: center;
            /*border-radius: 10px;*/
        }

        .dropdown-header {
            display: block;
            padding: 0.5rem 1.5rem;
            margin-bottom: 0;
            font-size: .875rem;
            /* color: #858796; */
            white-space: nowrap;
        }
    </style>
}

@section Scripts {
    <script src="~/wwwroot/assets/js/Forms/UtilitiesJS.js?@(DateTime.Now.Ticks)"></script>
    <script src="~/wwwroot/vendor/Summernote-Editor/summernote-bs4.min.js"></script>
    <script src="~/wwwroot/vendor/sweetalert/sweetalert.min.js"></script>
    <script src="~/wwwroot/vendor/chosen/chosen.jquery.min.js"></script>
    <script src="~/wwwroot/vendor/chosen/chosen-clickable-optgroup.js?@(DateTime.Now.Ticks)"></script>
    @*<script src="~/wwwroot/assets/js/Forms/JSReclamoDatacredito.js"></script>*@

    <!-- ingresados para datatable-->
    <script src="~/wwwroot/vendor/jquery/jquery-3.5.1.js"></script>
    <script src="~/wwwroot/vendor/jquery/jquery.dataTables.min.js"></script>
    <script>

        DataTables();
        $('#divLoaderMaster').hide();
        //FilterCase();

        $(document).ready(function () {

            $('#tblAnalysis').DataTable({
                "oLanguage": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                }
            });
        });

        async function FilterCaseId(Id) {

            var params = new Object();
            params["Id"] = Id;
            var result = await $.ajax({
                type: "post",
                url: '/ColocacionPrestamos/FormEdit',
                data: params
            });
            $("#divTable").html(Result);
            await DataTables();
        }

        async function DataTables() {
            try {
                var result = await GenerarDTFiltros('divTable');
            } catch (ex) {
                //alert(ex);
            } finally {
                //$.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }
        }

        async function ListColocacionPrestamosId() {

            $.post("/Calidad/PanelError").done(function (VistaParcial) {
                $('#divError').html(VistaParcial);
            }).fail(function (err) {
                alert('ConsultarPlantillasMsg el mensaje es :' + JSON.stringify(err));
            });

        }
    </script>
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Colocación de Prestamos</h1>
</div>

<div class="col-md-5">
    <div class="col-md-5">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <!-- Counter - Alerts -->
            <span id="divNumAlert1" class="badge badge-danger badge-counter">@ViewBag.NumAlertasColocacion</span>
        </a>
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow" aria-labelledby="alertsDropdown">
            <h6 class="dropdown">Llamadas pendientes</h6>
            <div id="divContAlert1">

                @{ int i = 0;
                    foreach (var item in ViewBag.IdRegistro)
                    {
                        <a class="dropdown-item text-center small text-primary" onclick="MostrarInforRegistro(@item.Id)" data-toggle="modal" data-target="#Mymodal">@item.NombreCompleto || @item.FechaLLamada</a>;
                    }
                }

            </div>

        </div>
    </div>
</div>

@if (ViewBag.user == "SUPERCOLOCACION")
{
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="btn-group">
            @*<button type="button" class="btn btn-sm btn-info BtnEdit" onclick="GuardarEstado(this)">
                    <span class="text">Gestionar</span>
                </button>*@
            <a href="/ColocacionPrestamo/ListDispositions/" class="btn btn-sm btn-primary BtnEdit">
                <i class="fas fa-edit fa-sm"></i>
                Gestionar Listas desplegables

            </a>
        </div>
    </div>
}
<div>




    <div class="tab-content" id="divAnalysis">
        <div class="tab-pane fade show active" id="home">
            <div class="col-md-12">
                <div class="card">
                    <table id="TableRecord" class="table table-sm table-bordered table-hover" style="width:100%;">
                        <thead>
                            <tr style="text-align:center" class="card-header">
                                <th scope="col" colspan="9" class="encabezados">Listado Colocacion de prestamos</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="card-body">

                        <div class="table-responsive" id="divTableAgent">
                            @Html.Action("ListColocacionPrestamos", "ColocacionPrestamo")
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

